* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: rgb(226, 226, 226);
    font-family: Arial;

    /* Foi comentado porque estava bloqueando o scroll da página */
    /* overflow-x: hidden;
    overflow-y: hidden; */     

}

#logo {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 10px;
    top: -20px;
}

#navbar ul {
    list-style: none;
    background: rgb(60, 60, 60);
    padding: 0;
    margin: 0;
    text-align: center;
    /*border-radius: px;*/
}

#navbar li {
    display: inline-block;
}

#navbar a {
    text-decoration: none;
    color: white;
    width: 170px;
    display: block;
    padding: 25px 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#navbar a:hover {
    background: #3281a0;
}

#menu_viagem {
    width: 8%;
}

#menu_vagao {
    width: 8%;
}

#graficos {
    position: relative;
    width: 30%;
    height: 30%;
    display: block;
    justify-content: space-between;
    margin-bottom: 10px;
    left: 55px;
    top: 40px;

}

#select-button {
    position: relative;
    top: 30px;
    left: 55px;
    display: flex;
    gap: 423px;
}

.bselect {
    padding: 3px 60px;
    text-transform: uppercase;
    background: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2px;
    cursor: pointer;
}

.tabela {
    position: relative;
    left: 550px;
    top: -450px;
    width: 50%;
}



#tabela {
    font-size: 30px;
    position: absolute;
    left: 28%;
    top: 25%;
    background-color: azure;
    text-align: center;
    border: #03658C 3px solid;
    margin-left: 20%;
    width: 40%;
}

td {
    padding: 20px;
}

th {
    font-size: 12.2px;
    text-align: center;
    padding-left: 70px;
}

.graficos {
    transform: rotate(-90deg);
    width: 18%;
    height: 18%;
    margin-right: 8%;
    margin-left: 8%;
}

#grafico_selecionado1{
    margin-top: -3%;
}

#grafico_selecionado2{
    margin-top: -10%;
}

#dropdown {
    position: relative;
    padding-top: 2%;
    left: 2%;
    display: flex;
    gap: 1%;
}

/* ÁREA DE TESTE */

.paragrafo h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    top: 0px;
}

.paragrafo {
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
}

.paragrafo img {
    margin-right: 10px;
    position: relative;
    top: -10px;
}


.paragrafo p {
    margin-top: 30px;
    padding: 3% ;
    text-align: justify;
}   